<div class="milieu mt-5 col-md-6 offset-md-3">
    <h2> Modifier des informations </h2>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Nom du participant</label>
            <input type="text" class ="form-control" id = "nom"
                [(ngModel)] = "personne.nom" name= "nom">

        </div>

        <div class="form-group">
            <label>Prenoms du participant</label>
            <input type="text" class ="form-control" id = "prenom"
                [(ngModel)] = "personne.prenoms" name = "prenom">
            
        </div>

        <div class="form-group">
            <label>numero de telephone du participant</label>
            <input type="tel" class ="form-control" id = "numero_telephone"
                [(ngModel)] = "personne.numero_tel" name = "numero_telephone" >
            
        </div>
    
        
        <div class="form-group">
            <label>email du participant</label>
            <input type="email" class ="form-control" id = "adresse_email"
            [(ngModel)] = "personne.e_mail" name = "adresse_email">
                
        </div>

        <button class = "btn btn-warning mt-5 mb-5" type ="submit">Modifier</button>
    
    </form>
</div>

